{% extends 'Cards/layout.html' %}
{% load static %}
{% block script %}  
    <script src="{% static 'Cards/script/game.js' %}"> </script>
    <!-- импорт для вставки иконок -->
    <link href="{% static 'Cards/css/style.css' %}" rel="stylesheet">  
    <link href="{% static 'Cards/css/tristate.css' %}" rel="stylesheet">  
    <link href="{% static 'Cards/css/bootstrap-icons.css' %}" rel="stylesheet">  

{% endblock %}
{% block title %} Game {% endblock %}
{% block content %}
<div id = 'game_container'></div>
{% endblock %}

 