{% extends 'Cards/layout.html' %}
{% load static %}
{% block script %}     
<script type="module" src="{% static 'Cards/script/card_set.js' %}"></script>
{% if message %}
<script type="module">
    import {Card} from "{% static 'Cards/script/card_set.js' %}";
    document.addEventListener('DOMContentLoaded', function () {
        const element = document.querySelector('#data');
        let card_data = JSON.parse(element.getAttribute('card_data'));
        let tags_data = JSON.parse(element.getAttribute('tags_data'));
        let FAs = Object.keys(card_data['FAs'])
        let front = [FAs.shift()];
        let back = FAs;
        let card= Card.create_without_card_set(card_data, front, back, tags_data, true, document.querySelector('#card_container'));
        card.show()
     })
</script>
{% endif %}
{% endblock %}

{% block title %} Card profile {% endblock %}
{% block content %}
{% load crispy_forms_tags %} 

{% if message %}
    <div class="alert alert-primary" id="lable-cards-count" > <h1> {{ message }}</h1></div>
    <div id = 'data' tags_data = '{{tags_data}}' card_data ='{{card_data}}'></div>
    <div id = 'card_container'></div>
{% endif %}

<form action="{% url 'Cards:new_card'%}" method="post">
    {% csrf_token %}
    
    {{  form|crispy }}

    <input class="btn btn-primary" type="submit" value="Create">
</form>
{% endblock %}
