{% extends 'Cards/layout.html' %}
{% block title %} {{ user.username }} profile {% endblock %}
{% block content %}
<div style="max-width: 250px; padding-left: 10px;">
    <div class="vstack gap-3">
        {% for tag in user_tags %}
        <div class="bg-light border">
            <form class="form-inline" action="{% url 'Cards:delete_tag' %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="hidden" name="tag_id" value=" {{ tag.id }} ">
                    <label style="align-self: center;">{{ tag.name }}</label>
                    <button class="btn btn-primary" type="submit" style="margin-left: auto">del</button>
                </div>
            </form>
        </div>
        {% endfor %}
        <div class="bg-light border">
            <form class="form-inline" action="{% url 'Cards:create_tag' %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="new tag" name="user_tag">
                    <button class="btn btn-primary" type="submit" style="max-width: 48px;">add</button>
                </div>
            </form>
        </div>
    </div>      
</div>
{% endblock %}