{% extends 'Cards/layout.html' %}
{% block title %} {{ user.username }} profile {% endblock %}
{% block content %}
<div style="max-width: 15rem; padding: 10px;">
        {% for tag in user_tags %}
            <form class="form-inline row bg-light border" action="{% url 'Cards:delete_tag' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="tag_id" value=" {{ tag.id }} ">
                <label class="col col-sm-9">{{ tag.name }}</label>
                <button class="btn btn-primary col col-sm-3" type="submit" >del</button>
            </form>
        {% endfor %}
            <form class="form-inline row bg-light border" action="{% url 'Cards:create_tag' %}" method="post">
                {% csrf_token %}
                <input type="text" class="form-control col col-sm-9" placeholder="new tag" name="user_tag">
                <button class="btn btn-primary col col-sm-3" type="submit">add</button>
            </form>
        </div>    
</div>
{% endblock %}