.rotate0{
    transform: rotateY(0deg);
    transition: transform 0.8s;
    transform-style: preserve-3d;
    perspective: 1000px;
   
}

.rotate180{
    transform: rotateY(180deg);
    transition: transform 0.8s;
    transform-style: preserve-3d;
    perspective: 1000px;
    
}

.flip-card-back {   
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-front {
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-back {  
  transform: rotateY(180deg);
}

.move-right {
    animation-name: move_right;
    animation-duration: 1s;

}
@keyframes move_right {
    from {
      transform: translateX(0%);
      
    }
  
    to {
        transform: translateX(100%);
       }
  }

.move-left {     
    animation-name: move_left;
    animation-duration: 1s;

}

@keyframes move_left{
    from {
      transform: translateX(0%);
      
    }
  
    to {
        transform: translateX(-100%);
       }
  }
.position-right {
    /*transform: translateX(-50%);*/
    animation-name: position_right;
    animation-duration: 1s;
}

@keyframes position_right {
    from {
      transform: translateX(-100%);
      
    }
  
    to {
        transform: translateX(0%);
       }
  }

.position-left {
    /*transform: translateX(-50%);*/
    animation-name: position_left;
    animation-duration: 1s;
}

@keyframes position_left {
    from {
      transform: translateX(+100%);
      
    }
  
    to {
        transform: translateX(0%);
       }
  }